<div class="container">
  <form class="search">
    <input
      class="search__input"
      type="text"
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="navigateByFoodId($event.option?.value.foodId)"
      (optionActivated)="setSearchQuery($event.option?.value)"
    >
      <mat-option *ngFor="let option of searchOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      class="search__button"
      (click)="routeSearch(searchControl.value)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="result-grid">
    <ng-container *ngFor="let result of searchResults">
      <mat-card class="result">
        <a routerLink="/food-list/{{ result.foodId }}">
          <div
            class="result__img"
            mat-card-image
            [style.background-image]="'url(' + result.image + ')'"
          ></div>
          <p class="result__name">{{ result.name }}</p>
        </a>
      </mat-card>
    </ng-container>
  </div>
</div>
