<div class="container container--search">
  <img
    src="/assets/images/titles/search-title.png"
    alt="メニュー検索"
    class="title"
  />
  <div class="search-content">
    <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
      <input
        class="search__input"
        type="text"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        autocomplete="off"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="navigateByFoodId($event)"
      >
        <mat-option
          *ngFor="let option of searchOptions"
          [value]="option.foodId"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <button mat-icon-button class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <ng-container *ngIf="isSearched">
      <ng-template #searchHit>
        <p class="search-hit">{{ nbHits }} 件ヒットしました</p>
      </ng-template>
      <ng-container *ngIf="nbHits === 0; else searchHit">
        <p class="search-hit">
          {{ searchControl.value }} に一致する情報は見つかりませんでした
        </p>
      </ng-container>
    </ng-container>
  </div>

  <div class="result-grid">
    <ng-container *ngFor="let result of searchResults">
      <div class="wood-signboard">
        <div
          class="result-content result-content--rotate-type-{{
            result.rotateTypeId
          }}"
        >
          <div class="result">
            <a routerLink="/food-list/{{ result.foodId }}">
              <img
                src="/assets/images/others/pin-red.png"
                alt="赤色のピン"
                class="result__pin"
              />
              <div
                class="result__img"
                [style.background-image]="'url(' + result.image + ')'"
              ></div>
              <p class="result__name">{{ result.name }}</p>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
