.search {
  width: 80%;
  max-width: 400px;
  margin: 16px auto 24px;
  position: relative;
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(black, 0.32);
    box-sizing: border-box;
    line-height: 32px;
    outline: none;
    padding: 0 42px 0 16px;
    font-size: 18px;
    background-color: transparent;
  }
  &__button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(black, 0.32);
  }
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.result {
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
  }
  &__name {
    font-size: 20px;
    margin: 0;
    color: #000;
  }
}

.result:hover {
  box-shadow: 0 15px 30px -5px rgba(black, 0.15), 0 0 5px rgba(black, 0.1);
  transform: translateY(-4px);
}
