.search-content {
  margin: 40px 0 32px;
}

.search {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  &__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    line-height: 32px;
    outline: none;
    padding: 0 42px 0 16px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  }
  &__button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      color: #fff;
    }
  }
}

.search-hit {
  margin: 8px 0;
  font-weight: bold;
  color: #fff;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 24px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
    max-width: 450px;
    margin: 0 auto;
  }
}

.wood-signboard {
  background: url('/assets/images/backgrounds/wood-background3.png');
  background-size: 100% 100%;
  padding: 6% 10% 10% 6%;
}

.result-content {
  z-index: 0;
  transform-origin: center 8px 0;
  transition: 0.5s;
  @media screen and (max-width: 320px) {
    transform-origin: center 4px 0;
  }
  &:hover {
    z-index: 2;
  }
  &:hover .result::before {
    left: 8px;
    box-shadow: 0 18px rgba(black, 0.3);
  }
  &:hover .result::after {
    right: 8px;
    box-shadow: 0 18px rgba(black, 0.3);
  }
  &--rotate-type-a {
    transform: rotate(-2deg);
    &:hover {
      transform: rotate(-2deg) translateY(-5px);
    }
  }
  &--rotate-type-b {
    transform: rotate(-3deg);
    &:hover {
      transform: rotate(-3deg) translateY(-5px);
    }
  }
  &--rotate-type-c {
    transform: rotate(-4deg);
    &:hover {
      transform: rotate(-4deg) translateY(-5px);
    }
  }
  &--rotate-type-d {
    transform: rotate(2deg);
    &:hover {
      transform: rotate(2deg) translateY(-5px);
    }
  }
  &--rotate-type-e {
    transform: rotate(3deg);
    &:hover {
      transform: rotate(3deg) translateY(-5px);
    }
  }
}

.result {
  cursor: pointer;
  padding: 16px;
  background-color: #f0eddd;
  border-radius: 4px;
  position: relative;
  @media screen and (max-width: 320px) {
    padding: 8px;
  }
  &__pin {
    width: 16px;
    position: absolute;
    top: 8px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(black, 0.3);
    @media screen and (max-width: 320px) {
      width: 14px;
      top: 4px;
      box-shadow: 3px 3px 0 0 rgba(black, 0.3);
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    border-radius: 5px;
  }
  &__name {
    margin: 0;
    color: #8a4d41;
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 16px 0 0;
    @media screen and (max-width: 320px) {
      padding: 8px 0 0;
      font-size: 14px;
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 60%;
    bottom: 12px;
    width: 50%;
    max-width: 300px;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: 0 15px rgba(black, 0.3);
  }
  &::before {
    left: 10px;
    transform: rotate(-5deg);
  }
  &::after {
    right: 10px;
    transform: rotate(5deg);
  }
}
