.dot-background {
  text-align: left;
  padding: 104px 16px 80px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @media screen and (max-width: 600px) {
    padding: 88px 16px 64px;
  }
}

.privacy-content {
  max-width: 1000px;
  margin: 0 auto;
  &__sentence {
    padding-left: 16px;
  }
  &__email {
    word-break: break-all;
  }
  &__email:hover {
    text-decoration: underline;
  }
  &__date {
    font-weight: bold;
  }
}
