.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: #fff;
  position: fixed;
  z-index: 2;
  &__logo {
    outline: none;
    cursor: pointer;
    color: white;
    margin: auto 0;
  }
  &__user-avatar {
    overflow: hidden;
    width: 35px;
    height: 35px;
    margin: auto 0;
    img {
      display: block;
    }
  }

  .header__left {
    display: flex;
  }

  .header__right {
    display: flex;
  }
}
