<mat-toolbar class="header" color="primary">
  <div class="header-left">
    <button mat-icon-button class="header-left__nav">
      <mat-icon aria-hidden="false">menu</mat-icon>
    </button>
    <a class="header-left__icon">MENU</a>
  </div>

  <div class="header-right">
    <button mat-icon-button class="header-right__search">
      <mat-icon aria-hidden="false">search</mat-icon>
    </button>
    <button mat-icon-button class="header-right__account">
      <mat-icon aria-hidden="false">account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
