<mat-toolbar class="headerBar" color="primary">
  <div class="headerLeft">
    <button mat-icon-button>
      <mat-icon class="headerLeft__nav" aria-hidden="false">menu</mat-icon>
    </button>
    <a class="headerleft__icon">MENU</a>
  </div>

  <div class="headerRight">
    <button mat-icon-button>
      <mat-icon class="headerRight__search" aria-hidden="false"
        >search</mat-icon
      >
    </button>
    <button mat-icon-button>
      <mat-icon class="headerRight__account" aria-hidden="false"
        >account_circle</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
