.footer {
  color: #fff;
  background-color: #755732;
  padding: 24px 32px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  @media screen and (max-width: 450px) {
    flex-flow: column;
  }
}

.footer-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 450px) {
    margin: 0 auto 16px;
  }
  &__item {
    font-size: 12px;
    margin-right: 16px;
    @media screen and (max-width: 450px) {
      font-size: 10px;
    }
  }
  &__item:nth-last-child(1) {
    margin: 0;
  }
  &__link {
    color: #fff;
  }
  &__link:hover {
    text-decoration: underline;
  }
}

.company {
  margin: 0;
  font-size: 12px;
  @media screen and (max-width: 450px) {
    margin: 0 auto;
    font-size: 10px;
  }
}
