<div class="wrap">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="form-field form-field--name">
      <mat-label>メニュー名</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        autocomplete="off"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-field form-field--image">
      <mat-label>画像URL</mat-label>
      <input
        type="text"
        matInput
        formControlName="image"
        autocomplete="off"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-field form-field--categoryId">
      <mat-label>カテゴリーID</mat-label>
      <input
        type="text"
        matInput
        formControlName="categoryId"
        autocomplete="off"
        required
      />
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      firestoreに送信
    </button>
  </form>

  <mat-dialog-content>
    <div class="category-ranking" *ngFor="let recipe of recipes">
      <p class="category-ranking__url">{{ recipe.foodImageUrl }}</p>
      <img
        [src]="recipe.foodImageUrl"
        [alt]="recipe.recipeTitle"
        class="category-ranking__image"
      />
      <button
        mat-button
        color="primary"
        class="category-ranking__button"
        (click)="setFormImageValue(recipe.foodImageUrl)"
      >
        画像GET
      </button>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-stroked-button matDialogClose color="primary">
      キャンセル
    </button>
  </mat-dialog-actions>
</div>
