.email-account {
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
}

.reset-password {
  margin-top: 32px;
}

p {
  font-size: 12px;
  margin: 0 0 8px;
}
