<div class="container">
  <img
    src="/assets/images/titles/menu-title.png"
    alt="一週間の献立画面のタイトル"
    class="content-title"
  />
  <div class="grid" *ngIf="weekMenu$ | async as weekMenu">
    <ng-container *ngFor="let dayMenu of weekMenu; let i = index">
      <div class="menu">
        <img
          src="/assets/images/titles/day-of-week-title{{ i }}.png"
          alt="{{ dayMenu.dayOfWeek }}曜日のタイトル"
          class="menu__title"
        />
        <div class="menu-grid">
          <div class="food-content food-content--breakfast">
            <div class="food food--breakfast">
              <a routerLink="/menu/{{ dayMenu.breakfast.foodId }}">
                <img
                  src="/assets/images/others/pin-red.png"
                  alt="赤色ピン"
                  class="food__pin"
                />
                <div
                  class="food__img"
                  [style.background-image]="
                    'url(' + dayMenu.breakfast.image + ')'
                  "
                >
                  <img
                    src="/assets/images/icons/morning-icon.png"
                    alt="朝のアイコン"
                    class="food__time-icon"
                  />
                </div>
                <p class="food__name">{{ dayMenu.breakfast.name }}</p>
              </a>
            </div>
          </div>
          <div class="food-content food-content--lunch">
            <div class="food food--lunch">
              <a routerLink="/menu/{{ dayMenu.lunch.foodId }}">
                <img
                  src="/assets/images/others/pin-red.png"
                  alt="赤色ピン"
                  class="food__pin"
                />
                <div
                  class="food__img"
                  [style.background-image]="'url(' + dayMenu.lunch.image + ')'"
                >
                  <img
                    src="/assets/images/icons/noon-icon.png"
                    alt="昼のアイコン"
                    class="food__time-icon"
                  />
                </div>
                <p class="food__name">{{ dayMenu.lunch.name }}</p>
              </a>
            </div>
          </div>
          <div class="food-content food-content--dinner">
            <div class="food food--dinner">
              <a routerLink="/menu/{{ dayMenu.dinner.foodId }}">
                <img
                  src="/assets/images/others/pin-red.png"
                  alt="赤色ピン"
                  class="food__pin"
                />
                <div
                  class="food__img"
                  [style.background-image]="'url(' + dayMenu.dinner.image + ')'"
                >
                  <img
                    src="/assets/images/icons/night-icon.png"
                    alt="夜のアイコン"
                    class="food__time-icon"
                  />
                </div>
                <p class="food__name">{{ dayMenu.dinner.name }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
