<div class="container">
  <div class="grid">
    <div *ngFor="let day of days">
      <h1>{{ day.title }}</h1>
      <div class="menu-grid">
        <div class="food">
          <img
            class="food__img"
            src="https://dummyimage.com/150x150/F0FFF0.png"
            alt=""
          />
          <p class="food__name">foodName</p>
        </div>
        <div class="food">
          <img
            class="food__img"
            src="https://dummyimage.com/150x150/F0FFF0.png"
            alt=""
          />
          <p class="food__name">foodName</p>
        </div>
        <div class="food">
          <img
            class="food__img"
            src="https://dummyimage.com/150x150/F0FFF0.png"
            alt=""
          />
          <p class="food__name">foodName</p>
        </div>
      </div>
    </div>
  </div>
</div>
