.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 16px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.day-of-week {
  margin: 8px 0 8px;
  font-size: 24px;
}

.food {
  border: 1px solid rgba(black, 0.32);
  max-width: 300px;
  cursor: pointer;
  &__img {
    border-bottom: 1px solid rgba(black, 0.32);
  }
  &__name {
    margin: 0 0 8px;
    padding-top: 8px;
  }
}

.change-my-menu-button {
  display: block;
  margin: 32px auto 0;
}
