.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 950px;
  margin: 0 auto;
  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 1fr;
  }
}

.day-of-week {
  margin: 8px 0 8px;
  font-size: 24px;
}

.food {
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  &--breakfast {
    @media screen and (max-width: 450px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
  }
  &__name {
    margin: 0;
    color: #000;
  }
}

.food:hover {
  box-shadow: 0 15px 30px -5px rgba(black, 0.15), 0 0 5px rgba(black, 0.1);
  transform: translateY(-4px);
}

.change-my-menu-button {
  display: block;
  margin: 32px auto 0;
}

.delete-my-post-button {
  display: block;
  margin: 32px auto 0;
}
