<div class="container">
  <ng-container *ngIf="post$ | async as post">
    <div class="grid">
      <ng-container *ngFor="let menu of post.days">
        <div class="day">
          <h1 class="day-of-week">{{ menu.dayOfWeek }}曜日</h1>
          <div class="menu-grid">
            <mat-card class="food food--breakfast">
              <a routerLink="/food-list/{{ menu.breakfast.foodId }}">
                <div
                  class="food__img"
                  mat-card-image
                  [style.background-image]="'url(' + menu.breakfast.image + ')'"
                ></div>
                <p class="food__name">{{ menu.breakfast.name }}</p>
              </a>
            </mat-card>
            <mat-card class="food food--lunch">
              <a routerLink="/food-list/{{ menu.lunch.foodId }}">
                <div
                  class="food__img"
                  mat-card-image
                  [style.background-image]="'url(' + menu.lunch.image + ')'"
                ></div>
                <p class="food__name">{{ menu.lunch.name }}</p>
              </a>
            </mat-card>
            <mat-card class="food food--dinner">
              <a routerLink="/food-list/{{ menu.dinner.foodId }}">
                <div
                  class="food__img"
                  mat-card-image
                  [style.background-image]="'url(' + menu.dinner.image + ')'"
                ></div>
                <p class="food__name">{{ menu.dinner.name }}</p>
              </a>
            </mat-card>
          </div>
        </div>
      </ng-container>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="change-my-menu-button"
      (click)="changeMyMenuToUserMenu()"
    >
      My献立に上書き
    </button>
    <button
      mat-raised-button
      color="primary"
      class="delete-my-post-button"
      (click)="deletePost()"
      *ngIf="post.creatorId === userId"
    >
      投稿を削除
    </button>
  </ng-container>
</div>
