<div class="container">
  <img
    src="/assets/images/titles/post-title.png"
    alt="みんなの献立画面のタイトル"
    class="title"
  />
  <div class="wood-background wood-background--post" *ngIf="isGotPosts">
    <img
      src="/assets/images/others/wood-pin.png"
      alt="木のピン"
      *ngFor="let number of [1, 2, 3, 4]"
      class="wood-pins"
    />
    <div class="grid">
      <ng-container *ngFor="let post of posts">
        <div class="post">
          <a routerLink="/post/{{ post.postId }}">
            <img
              src="/assets/images/others/pin-yellow.png"
              alt="黄色のピン"
              class="post__pins"
              *ngFor="let number of [1, 2]"
            />
            <p class="post__title">
              {{ post.title }}
            </p>
            <div class="post__foods-content">
              <ng-container *ngFor="let thumbnailURL of post.thumbnailURLs">
                <div class="post__foods">
                  <div
                    class="post__food-images"
                    [style.background-image]="'url(' + thumbnailURL + ')'"
                  ></div>
                </div>
              </ng-container>
            </div>
            <div class="post__user-content">
              <a
                class="post__user-avater"
                (click)="$event.stopPropagation()"
                routerLink="/user"
                [queryParams]="{ id: post.creatorId }"
                ><img [src]="post.creator.avaterURL" alt="ユーザーのアバター"
              /></a>
              <a
                (click)="$event.stopPropagation()"
                routerLink="/user"
                [queryParams]="{ id: post.creatorId }"
              >
                <div class="post__user-content-right">
                  <p class="post__user-name">{{ post.creator.name }}</p>
                  <p class="post__date">
                    {{ post.createdAt.toDate() | date }}
                  </p>
                </div>
              </a>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="80"
      (scrolled)="getPosts()"
    ></div>
    <mat-progress-spinner
      mode="indeterminate"
      *ngIf="isLoading"
      class="loading-spinner"
      [diameter]="30"
    ></mat-progress-spinner>
  </div>
</div>
