<div class="container">
  <h1>メニュー一覧</h1>
  <div class="grid">
    <ng-container *ngFor="let food of initialFoods">
      <mat-card class="food">
        <a routerLink="/food-list/{{ food.foodId }}">
          <div
            class="food__img"
            mat-card-image
            [style.background-image]="'url(' + food.image + ')'"
          ></div>
          <p class="food__name">{{ food.name }}</p>
        </a>
      </mat-card>
    </ng-container>
  </div>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="80"
    (scrolled)="onScroll()"
  ></div>
  <mat-spinner
    mode="indeterminate"
    *ngIf="isLoading"
    class="loading-spinner"
    [diameter]="30"
  >
  </mat-spinner>
</div>
