.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

h1 {
  margin: 8px 0 24px;
  font-size: 28px;
}

.food {
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
  }
  &__name {
    margin: 0;
    color: #000;
  }
}

.food:hover {
  box-shadow: 0 15px 30px -5px rgba(black, 0.15), 0 0 5px rgba(black, 0.1);
  transform: translateY(-4px);
}

.loading-spinner {
  display: inline-block;
  margin-top: 16px;
}
