<div class="account">
  <h1 mat-dialog-title>{{ data.isSignUp ? '新規登録' : 'ログイン' }}</h1>
  <div class="btn">
    <button mat-raised-button class="btn--facebook">
      <span class="btn__icon"
        ><img
          src="/assets/images/facebook-3.svg"
          alt="Facebookのアイコン"
          width="30"
          height="30"
      /></span>
      <span>Facebook</span>
    </button>
    <button mat-raised-button class="btn--twitter">
      <span class="btn__icon"
        ><img
          src="/assets/images/twitter-3.svg"
          alt="Twitterのアイコン"
          width="30"
          height="30"
      /></span>
      <span>Twitter</span>
    </button>
    <button mat-raised-button class="btn--google">
      <span class="btn__icon"
        ><img
          src="/assets/images/google-icon.svg"
          alt="Googleのアイコン"
          width="20"
          height="20"
      /></span>
      <span>Google</span>
    </button>
    <button mat-raised-button class="btn--yahoo">
      <span class="btn__icon"
        ><img
          src="/assets/images/yahoo-icon.svg"
          alt="Yahoo!JAPANのアイコン"
          width="30"
          height="30"
      /></span>
      <span>Yahoo! JAPAN</span>
    </button>
    <hr />
    <button mat-raised-button color="primary" *ngIf="data.isSignUp">
      新規登録
    </button>
    <button mat-raised-button color="primary" *ngIf="!data.isSignUp">
      ログイン
    </button>
  </div>
</div>
