<div class="container">
  <div class="content">
    <ul class="category-list">
      <li *ngFor="let category of categories" class="category-item">
        <span class="category-item__food">
          {{ category.parentCategoryId }}-{{ category.categoryId }}:
          {{ category.categoryName }}
        </span>
        <button
          (click)="
            openCreateFoodDialog(
              category.parentCategoryId,
              category.categoryId,
              category.categoryName
            )
          "
        >
          データGET
        </button>
      </li>
    </ul>
  </div>
</div>
