.content {
  max-width: 500px;
  margin: 0 auto;
}

.category-list {
  list-style: none;
  text-align: left;
  background-color: #fff;
  padding: 24px 0 24px 40px;
}

.category-item {
  margin-bottom: 16px;
  &__food {
    margin-right: 24px;
  }
}
