<div class="container">
  <h1>設定画面</h1>
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      routerLink="/setting/account"
      routerLinkActive
      #account="routerLinkActive"
      [active]="account.isActive"
      >アカウント</a
    >
    <a
      mat-tab-link
      routerLink="/setting/billing"
      routerLinkActive
      #billing="routerLinkActive"
      [active]="billing.isActive"
      >ご利用状況</a
    >
    <a
      mat-tab-link
      routerLink="/setting/withdrawal"
      routerLinkActive
      #withdrawal="routerLinkActive"
      [active]="withdrawal.isActive"
      >退会</a
    >
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
