<div class="container">
  <div class="grid">
    <ng-container *ngFor="let post of userPosts$ | async">
      <mat-card class="post">
        <a routerLink="/post/{{ post.postId }}">
          <mat-card-header class="post__header">
            <img
              mat-card-avatar
              class="post__avater"
              [src]="post.creator.avaterURL"
              alt=""
            />
            <mat-card-title class="post__user-name">{{
              post.creator.name
            }}</mat-card-title>
            <mat-card-subtitle class="post__date">{{
              post.createdAt.toDate() | date
            }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="post__thumbnail"
            [src]="post.days[0].breakfast.image"
            alt=""
          />
        </a>
      </mat-card>
    </ng-container>
  </div>
</div>
