.current-food {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 8px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.food {
  border: 1px solid rgba(black, 0.32);
  text-align: center;
  &__img {
    border-bottom: 1px solid rgba(black, 0.32);
  }
  &__name {
    margin: 0;
    padding-top: 8px;
  }
}
