<div class="content" *ngIf="user$ | async as user">
  <section class="content-section content-section--avater">
    <img
      src="/assets/images/others/pin-green.png"
      alt="緑色のピン"
      class="content-section__pins"
      *ngFor="let number of [1, 2]"
    />
    <p class="content-section__title">アバター編集</p>
    <label class="avater">
      <img
        class="avater__image"
        [src]="croppedImage ? croppedImage : user.avaterURL"
        alt="ユーザーのアバター"
      />
      <input
        type="file"
        accept="image/jpeg, image/png"
        style="display: none;"
        (change)="changeFileEvent($event)"
        #selectedImage
      />
    </label>
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      format="png"
      [roundCropper]="true"
      (imageCropped)="cropImage($event)"
      (loadImageFailed)="failLoadImage(selectedImage)"
      [class.active]="imageChangedEvent"
      width="300px"
      height="300px"
      class="image-cropper"
    ></image-cropper>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!imageChangedEvent"
      (click)="changeUserAvater(selectedImage)"
    >
      更新する
    </button>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="imageChangedEvent"
      (click)="resetImage(selectedImage)"
      class="reset-btn"
    >
      キャンセル
    </button>
  </section>
  <section class="content-section content-section--name">
    <img
      src="/assets/images/others/pin-green.png"
      alt="緑色のピン"
      class="content-section__pins"
      *ngFor="let number of [1, 2]"
    />
    <p class="content-section__title">ユーザー名編集</p>
    <mat-form-field
      appearance="fill"
      hintLabel="入力文字数"
      [hideRequiredMarker]="true"
      class="name-form"
    >
      <mat-label>ユーザー名編集</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        placeholder="{{ user.name }}"
        [formControl]="nameForm"
        required
        #input
      />
      <mat-hint align="end">{{ input.value?.length || 0 }}/25</mat-hint>
      <mat-error *ngIf="nameForm.hasError('required')">必須入力です</mat-error>
      <mat-error *ngIf="nameForm.hasError('maxlength')"
        >最大文字数は25文字です</mat-error
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="nameForm.invalid"
      (click)="changeUserName()"
      class="content-section__button"
    >
      更新する
    </button>
  </section>
</div>
