.content-section {
  background-color: #f0eddd;
  border-radius: 4px;
  max-width: 400px;
  padding: 24px;
  box-shadow: 4px 4px 0 0 rgba(black, 0.3);
  position: relative;
  &__pins {
    position: absolute;
    top: 8px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(black, 0.3);
    z-index: 1;
    @media screen and (max-width: 720px) {
      box-shadow: 3px 3px 0 0 rgba(black, 0.3);
    }
    @media screen and (max-width: 600px) {
      box-shadow: 2px 2px 0 0 rgba(black, 0.3);
    }
    &:nth-child(1) {
      left: 8px;
    }
    &:nth-child(2) {
      right: 8px;
    }
  }
  &__title {
    font-weight: bold;
    margin: 0 0 16px;
    font-size: 22px;
    color: #8a4d41;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  &__button {
    display: block;
    margin: 8px auto 0;
  }
  &--avater {
    margin: 0 auto 48px;
  }
  &--name {
    margin: 0 auto;
  }
}

.avater {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto 16px;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    width: 200px;
    height: 200px;
  }
  &__image {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #8a4d41;
  }
}

.image-cropper {
  display: none;
}

.image-cropper.active {
  display: block;
  width: 300px;
  margin: 0 auto 16px;
}

.reset-btn {
  margin-left: 16px;
}

.name-form {
  width: 100%;
  max-width: 240px;
}
