<div class="container">
  <img
    src="/assets/images/titles/create-my-menu-title.png"
    alt="My献立編集画面のタイトル"
    class="content-title"
  />
  <div class="wood-background" *ngIf="weekMenu$ | async as weekMenu">
    <img
      src="/assets/images/others/wood-pin.png"
      alt="木のピン"
      *ngFor="let number of [1, 2, 3, 4]"
      class="wood-pins"
    />
    <div class="week-grid">
      <div *ngFor="let dayMenu of weekMenu; let i = index">
        <img
          src="/assets/images/titles/day-of-week-title{{ i }}.png"
          alt="{{ dayMenu.dayOfWeek }}曜日のタイトル"
          class="day-of-week"
        />
        <div class="menu-grid">
          <div
            class="food food--breakfast"
            (click)="openChangeMyMenuDialog(dayMenu.breakfast, i, '朝')"
          >
            <img
              src="/assets/images/others/pin-blue.png"
              alt="青色のピン"
              class="food__pins"
              *ngFor="let number of [1, 2]"
            />
            <div
              class="food__img"
              [style.background-image]="'url(' + dayMenu.breakfast.image + ')'"
            >
              <img
                src="/assets/images/icons/morning-icon.png"
                alt="朝のアイコン"
                class="food__time-icon"
              />
            </div>
            <p class="food__name">{{ dayMenu.breakfast.name }}</p>
            <div class="food__color-sheet"></div>
          </div>
          <div
            class="food food--lunch"
            (click)="openChangeMyMenuDialog(dayMenu.lunch, i, '昼')"
          >
            <img
              src="/assets/images/others/pin-blue.png"
              alt="青色のピン"
              class="food__pins"
              *ngFor="let number of [1, 2]"
            />
            <div
              class="food__img"
              [style.background-image]="'url(' + dayMenu.lunch.image + ')'"
            >
              <img
                src="/assets/images/icons/noon-icon.png"
                alt="昼のアイコン"
                class="food__time-icon"
              />
            </div>
            <p class="food__name">{{ dayMenu.lunch.name }}</p>
            <div class="food__color-sheet"></div>
          </div>
          <div
            class="food food--dinner"
            (click)="openChangeMyMenuDialog(dayMenu.dinner, i, '夜')"
          >
            <img
              src="/assets/images/others/pin-blue.png"
              alt="青色のピン"
              class="food__pins"
              *ngFor="let number of [1, 2]"
            />
            <div
              class="food__img"
              [style.background-image]="'url(' + dayMenu.dinner.image + ')'"
            >
              <img
                src="/assets/images/icons/night-icon.png"
                alt="夜のピン"
                class="food__time-icon"
              />
            </div>
            <p class="food__name">{{ dayMenu.dinner.name }}</p>
            <div class="food__color-sheet"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="decoration-btn"
      (click)="openPostDialog(weekMenu)"
      *ngIf="!myMenu.isPosted"
    >
      <div class="decoration-btn__border">
        <span class="decoration-btn__text">My献立を投稿する</span>
      </div>
    </div>
  </div>
</div>
