.title {
  margin: 0 0 40px;
  @media screen and (max-width: 600px) {
    width: 90%;
    margin: 0 0 32px;
  }
}

.wood-background {
  &--create-my-menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 24px 64px;
    @media screen and (max-width: 600px) {
      padding: 32px 16px 40px;
    }
  }
}

.week-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  @media screen and (max-width: 600px) {
    gap: 40px;
  }
}

.day-of-week {
  width: 200px;
  margin: 0 0 8px;
  @media screen and (max-width: 600px) {
    width: 120px;
    margin: 0 0 4px;
  }
  @media screen and (max-width: 320px) {
    width: 100px;
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @media screen and (max-width: 600px) {
    gap: 8px;
  }
}

.food {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
  background-color: #f0eddd;
  position: relative;
  box-shadow: 6px 6px 0 0 rgba(black, 0.3);
  @media screen and (max-width: 720px) {
    padding: 8px;
  }
  @media screen and (max-width: 600px) {
    padding: 4px;
    box-shadow: 4px 4px 0 0 rgba(black, 0.3);
  }
  &__pins {
    position: absolute;
    top: 8px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(black, 0.3);
    z-index: 1;
    @media screen and (max-width: 720px) {
      top: 4px;
      width: 12px;
      box-shadow: 3px 3px 0 0 rgba(black, 0.3);
    }
    @media screen and (max-width: 600px) {
      top: 2px;
      width: 8px;
      box-shadow: 2px 2px 0 0 rgba(black, 0.3);
    }
    &:nth-child(1) {
      left: 8px;
      @media screen and (max-width: 720px) {
        left: 4px;
      }
      @media screen and (max-width: 600px) {
        left: 2px;
      }
    }
    &:nth-child(2) {
      right: 8px;
      @media screen and (max-width: 720px) {
        right: 4px;
      }
      @media screen and (max-width: 600px) {
        right: 2px;
      }
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    border-radius: 4px;
    position: relative;
  }
  &__time-icon {
    position: absolute;
    width: 20%;
    bottom: -3%;
    left: -1%;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(black, 0.3);
    @media screen and (max-width: 720px) {
      box-shadow: 3px 3px 0 0 rgba(black, 0.3);
    }
    @media screen and (max-width: 600px) {
      box-shadow: 2px 2px 0 0 rgba(black, 0.3);
    }
  }
  &__name {
    margin: 0;
    padding: 16px 0 0;
    color: #8a4d41;
    font-weight: bold;
    @media screen and (max-width: 720px) {
      padding: 8px 0 0;
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      padding: 4px 0 0;
      font-size: 12px;
    }
    @media screen and (max-width: 450px) {
      font-size: 10px;
    }
  }
  &__color-sheet {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }
  &__color-sheet:hover {
    background-color: #fff;
    opacity: 0.3;
  }
}

.decoration-btn {
  &--post {
    margin: 40px 0 0;
  }
}
