<div class="container">
  <img
    src="/assets/images/titles/home-title.png"
    alt=""
    class="content-title"
  />
  <img
    *ngFor="let number of [1, 2, 3]"
    src="/assets/images/others/wood0.png"
    alt=""
    class="woods"
  />
  <img
    *ngFor="let number of [1, 2]"
    src="/assets/images/others/wood1.png"
    alt=""
    class="woods"
  />
  <div class="food-wrap" *ngIf="todayMenu$ | async as todayMenu">
    <div class="grid">
      <div class="grid-item grid-item--breakfast">
        <img
          src="/assets/images/titles/breakfast-title.png"
          alt=""
          class="item-title item-title--breakfast"
        />
        <div class="food-content food-content--breakfast">
          <img src="/assets/images/animals/animal0.png" alt="" class="animal" />
          <a routerLink="/food-list/{{ todayMenu.breakfast.foodId }}">
            <div class="food food--breakfast">
              <img
                src="/assets/images/others/pin-red.png"
                alt=""
                class="food__pin"
              />
              <div
                class="food__img"
                [style.background-image]="
                  'url(' + todayMenu.breakfast.image + ')'
                "
              ></div>
              <p class="food__name">{{ todayMenu.breakfast.name }}</p>
            </div>
          </a>
        </div>
        <div class="decoration-btn-content decoration-btn-content--breakfast">
          <div
            class="decoration-btn decoration-btn--change-food"
            (click)="openChangeMyMenuDialog(todayMenu.breakfast, '朝')"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >find_replace</mat-icon
              ><span class="decoration-btn__text">献立差し替え</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="increaseEatCount('朝')"
            *ngIf="!isEatenBreakfast"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >check_circle_outline </mat-icon
              ><span class="decoration-btn__text">食べたチェック</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="reduceEatCount('朝')"
            *ngIf="isEatenBreakfast"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon">undo</mat-icon
              ><span class="decoration-btn__text">食べたチェック解除</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--lunch">
        <img
          src="/assets/images/titles/lunch-title.png"
          alt=""
          class="item-title item-title--lunch"
        />
        <div class="food-content food-content--lunch">
          <a routerLink="/food-list/{{ todayMenu.lunch.foodId }}">
            <div class="food food--lunch">
              <img
                src="/assets/images/others/pin-red.png"
                alt=""
                class="food__pin"
              />
              <div
                class="food__img"
                [style.background-image]="'url(' + todayMenu.lunch.image + ')'"
              ></div>
              <p class="food__name">{{ todayMenu.lunch.name }}</p>
            </div>
          </a>
        </div>
        <div class="decoration-btn-content decoration-btn-content--lunch">
          <div
            class="decoration-btn decoration-btn--change-food"
            (click)="openChangeMyMenuDialog(todayMenu.lunch, '昼')"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >find_replace</mat-icon
              ><span class="decoration-btn__text">献立差し替え</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="increaseEatCount('昼')"
            *ngIf="!isEatenLunch"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >check_circle_outline </mat-icon
              ><span class="decoration-btn__text">食べたチェック</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="reduceEatCount('昼')"
            *ngIf="isEatenLunch"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon">undo</mat-icon
              ><span class="decoration-btn__text">食べたチェック解除</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--dinner">
        <img
          src="/assets/images/titles/dinner-title.png"
          alt=""
          class="item-title item-title--dinner"
        />
        <div class="food-content food-content--dinner">
          <a routerLink="/food-list/{{ todayMenu.dinner.foodId }}">
            <div class="food food--dinner">
              <img
                src="/assets/images/others/pin-red.png"
                alt=""
                class="food__pin"
              />
              <div
                class="food__img"
                [style.background-image]="'url(' + todayMenu.dinner.image + ')'"
              ></div>
              <p class="food__name">{{ todayMenu.dinner.name }}</p>
            </div>
          </a>
        </div>
        <div class="decoration-btn-content decoration-btn-content--dinner">
          <div
            class="decoration-btn decoration-btn--change-food"
            (click)="openChangeMyMenuDialog(todayMenu.dinner, '夜')"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >find_replace</mat-icon
              ><span class="decoration-btn__text">献立差し替え</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="increaseEatCount('夜')"
            *ngIf="!isEatenDinner"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon"
                >check_circle_outline </mat-icon
              ><span class="decoration-btn__text">食べたチェック</span>
            </div>
          </div>
          <div
            class="decoration-btn decoration-btn--eat-check"
            (click)="reduceEatCount('夜')"
            *ngIf="isEatenDinner"
          >
            <div class="decoration-btn__border">
              <mat-icon inline class="decoration-btn__icon">undo</mat-icon
              ><span class="decoration-btn__text">食べたチェック解除</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
