.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.food {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  &__img {
    border: 1px solid rgba(black, 0.32);
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__label {
    font-size: 24px;
  }
}
