html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 24px 16px 80px;
  text-align: center;
  padding-top: 56px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
