@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-green, 600);
$my-app-accent: mat-palette($mat-brown, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 144px 16px 80px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  @media screen and (max-width: 750px) {
    padding: 120px 16px 80px;
  }
  @media screen and (max-width: 450px) {
    padding: 104px 0 64px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.mat-option {
  font-family: 'M PLUS Rounded 1c', Roboto, 'Helvetica Neue', sans-serif;
  color: #8a4d41;
}

.mat-option.mat-active {
  color: #8a4d41;
}

.wood-background {
  background: url('/assets/images/backgrounds/wood-background0.png');
  border-radius: 4px;
  z-index: 0;
  position: relative;
}

.wood-pins {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 rgba(black, 0.3);
  @media screen and (max-width: 600px) {
    width: 32px;
  }
  &:nth-child(1) {
    top: 8px;
    left: 8px;
  }
  &:nth-child(2) {
    top: 8px;
    right: 8px;
  }
  &:nth-child(3) {
    bottom: 8px;
    left: 8px;
  }
  &:nth-child(4) {
    bottom: 8px;
    right: 8px;
  }
}

.dot-background {
  text-align: center;
  background-color: #f8f8f0;
  background-image: radial-gradient(#f3efe4 15%, transparent 30%),
    radial-gradient(#f3efe4 15%, transparent 30%);
  background-size: 24px 24px;
  background-position: center;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    background-size: 20px 20px;
  }
}

.decoration-btn {
  background-color: #8a4d41;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 4px 4px 0 0 rgba(black, 0.3);
  display: inline-block;
  cursor: pointer;
  &__border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #eeeeee;
    padding: 8px 40px;
    border-radius: 30px;
    font-size: 24px;
    @media screen and (max-width: 660px) {
      padding: 8px 32px;
      font-size: 20px;
    }
  }
  &__icon {
    color: #fff050;
    margin: 0 16px 0 0;
    @media screen and (max-width: 660px) {
      margin: 0 8px 0 0;
    }
  }
  &__text {
    display: block;
    font-weight: bold;
    color: #fff050;
    letter-spacing: 2px;
    border-radius: 20px;
    font-size: 18px;
    @media screen and (max-width: 720px) {
      font-size: 14px;
    }
  }
}

.decoration-btn:hover {
  background-color: #eb7819;
}
