.wrap {
  text-align: center;
}

.current-food {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 8px;
  color: #8a4d41;
}

.search {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin: 0;
  display: inline-block;
  margin-bottom: 8px;
  &__input {
    width: 100%;
    border: 1px solid rgba(black, 0.32);
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 32px;
    outline: none;
    padding: 0 42px 0 16px;
    font-size: 18px;
  }
  &__button {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(black, 0.32);
  }
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 16px;
  max-width: 400px;
  margin: 8px auto 16px;
}

.result {
  border-radius: 4px;
  background-color: #f0eddd;
  padding: 16px 16px 8px;
  box-shadow: 3px 3px 0 0 rgba(black, 0.3);
  @media screen and (max-width: 320px) {
    padding: 8px 8px 0;
  }
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    border-radius: 4px;
  }
  &__name {
    margin: 0;
    padding-top: 16px;
    font-size: 20px;
    color: #8a4d41;
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
    @media screen and (max-width: 320px) {
      padding-top: 8px;
      font-size: 16px;
    }
  }
  &__button {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 8px 0 16px;
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.food {
  border-radius: 4px;
  background-color: #f0eddd;
  padding: 16px 16px 8px;
  box-shadow: 3px 3px 0 0 rgba(black, 0.3);
  @media screen and (max-width: 600px) {
    padding: 8px 8px 0;
    box-shadow: 2px 2px 0 0 rgba(black, 0.3);
  }
  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    border-radius: 4px;
  }
  &__name {
    margin: 0;
    padding-top: 16px;
    font-size: 16px;
    color: #8a4d41;
    @media screen and (max-width: 600px) {
      padding-top: 8px;
      font-size: 12px;
    }
  }
}
