<div class="wrap">
  <p class="current-food">{{ data.food.name }}を変更</p>
  <form class="search" (ngSubmit)="searchFood(searchControl.value)">
    <input
      type="text"
      class="search__input"
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionActivated)="setSearchQuery($event.option?.value)"
      (optionSelected)="searchFood($event.option?.value)"
    >
      <mat-option *ngFor="let option of searchOptions" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <button
      mat-icon-button
      class="search__button"
      (click)="searchFood(searchControl.value)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <mat-dialog-content>
    <ng-container *ngIf="isSearched; else default">
      <ng-template #hits>
        <div class="result-grid">
          <ng-container *ngFor="let result of searchResults">
            <div class="result">
              <div
                class="result__img"
                [style.background-image]="'url(' + result.image + ')'"
              ></div>
              <p class="result__name">{{ result.name }}</p>
              <button
                class="result__button"
                mat-button
                color="primary"
                (click)="changeMyMenu(result.foodId)"
                matDialogClose
              >
                変更する
              </button>
            </div>
          </ng-container>
        </div>
      </ng-template>
      <ng-container *ngIf="nbHits === 0; else hits">
        <p>一致する検索結果はありませんでした</p>
      </ng-container>
    </ng-container>

    <ng-template #default>
      <div class="food-grid">
        <div *ngFor="let food of foods">
          <div class="food">
            <div
              class="food__img"
              [style.background-image]="'url(' + food.image + ')'"
            ></div>
            <p class="food__name">{{ food.name }}</p>
            <button
              mat-button
              color="primary"
              (click)="changeMyMenu(food.foodId)"
              matDialogClose
            >
              変更する
            </button>
          </div>
        </div>
      </div>
      <div
        infiniteScroll
        [infiniteScrollDistance]="4"
        [infiniteScrollThrottle]="500"
        [scrollWindow]="false"
        infiniteScrollContainer="mat-dialog-content"
        [fromRoot]="true"
        (scrolled)="getFoods()"
      ></div>
      <mat-progress-spinner
        mode="indeterminate"
        *ngIf="isLoading"
        class="loading-spinner"
        [diameter]="30"
      ></mat-progress-spinner>
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-stroked-button color="primary" matDialogClose>
      キャンセル
    </button>
  </mat-dialog-actions>
</div>
