.sign-in-button {
  text-align: center;
}

h1 {
  font-weight: bold;
}

.btn {
  width: 100%;
  line-height: 3;
  border-radius: 30px;
  position: relative;
  &__icon {
    position: absolute;
    top: 6px;
    left: 16px;
  }
}

hr {
  margin: 24px 0;
}

.facebook-btn {
  color: #fff;
  background-color: #3b5998;
  margin-bottom: 12px;
}

.twitter-btn {
  color: #fff;
  background-color: #2daae1;
  margin-bottom: 12px;
}

.google-btn {
  color: rgba(black, 0.6);
  background-color: #dcdcdc;
  margin-bottom: 12px;
}

.yahoo-btn {
  color: #fff;
  background-color: #6b0094;
}
