<div class="sign-in-button">
  <h1 mat-dialog-title>ログイン</h1>
  <button mat-raised-button class="btn facebook-btn">
    <span class="btn__icon"
      ><img
        src="/assets/images/facebook-3.svg"
        alt="Facebookのアイコン"
        width="30"
        height="30"
    /></span>
    <span>Facebook</span>
  </button>
  <button mat-raised-button class="btn twitter-btn">
    <span class="btn__icon"
      ><img
        src="/assets/images/twitter-3.svg"
        alt="Twitterのアイコン"
        width="30"
        height="30"
    /></span>
    <span>Twitter</span>
  </button>
  <button mat-raised-button class="btn google-btn">
    <span class="btn__icon"
      ><img
        src="/assets/images/google-icon.svg"
        alt="Googleのアイコン"
        width="20"
        height="20"
    /></span>
    <span>Google</span>
  </button>
  <button mat-raised-button class="btn yahoo-btn">
    <span class="btn__icon"
      ><img
        src="/assets/images/yahoo-icon.svg"
        alt="Yahoo!JAPANのアイコン"
        width="30"
        height="30"
    /></span>
    <span>Yahoo! JAPAN</span>
  </button>
  <hr />
  <button mat-raised-button class="btn" color="primary">ログイン</button>
</div>
